<script type="text/javascript">
    function getFirstDayOfMonth() {
        return 1;
    }
    function getLastDayOfMonth(year, month, isCurrentMonth) {
        var lastDay;
        if (isCurrentMonth) {
            lastDay = new Date();
        }
        else {
            lastDay = new Date(year, month, 0);
        }
        return lastDay.getDate();
    }
    function getCurrentDayOfMonth(date) {
        return date.getDate();
    }
    function getFDate(year, month, day) {
        month = month<10 ? '0'+month : month;
        day = day<10 ? '0'+day : day;
        return year + '-' + month + '-' + day;
    }

    function setDates(isCurrentMonth) {
        var date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth();
        var firstDayOfMonth = getFirstDayOfMonth();
        var lastDayOfMonth = getLastDayOfMonth(year, month, isCurrentMonth);
        if (isCurrentMonth) {
            month++;
        }
        var dateFrom = getFDate(year, month, firstDayOfMonth);
        var dateTill = getFDate(year, month, lastDayOfMonth);
        document.getElementById('date_from').value = dateFrom;
        document.getElementById('date_till').value = dateTill;
    }

    function resetDates() {
        document.getElementById('date_from').value = '';
        document.getElementById('date_till').value = '';
    }
</script>

<div id="timelogs-form">
<p>
    <span style="font-size:.8em; text-decoration:underline; color:blue; cursor:pointer;" onclick="setDates()">
        Last month</span>&ensp;
    <span style="font-size:.8em; text-decoration:underline; color:blue; cursor:pointer;" onclick="setDates('currentMonth')">
        Current month</span>&ensp;
    <span style="font-size:.8em; text-decoration:underline; color:blue; cursor:pointer;" onclick="resetDates()">
        Reset dates</span>
</p>
<form action="/timelogs/" method="get">
{% csrf_token %}
    {% if project %}
    <input type="hidden" name="project_id" value="{{ params.project_id }}">
    {% endif %}
    <table style="margin:0 0 1em;">
        <tr>
            <td>
                <select style="width:100px; height:25px;" name="issue_id">
                    <option value="">All issues</option>
                    {% for issue in issues %}
                    <option value="{{ issue.id }}" {% if issue.id == params.issue_id %} selected="selected" {% endif %}>{{ issue.subject }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select style="width:100px; height:25px;" name="user_id">
                    <option value="">All users</option>
                    {% for user in users %}
                    <option value="{{ user.id }}" {% if user.id == params.user_id %} selected="selected" {% endif %}>{{ user.get_full_name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="date" name="date_from" id="date_from" value="{{ params.date_from }}" style="height:21px;"></td>
            <td><input type="date" name="date_till" id="date_till" value="{{ params.date_till }}" style="height:21px;"></td>
            <td><input type="submit" style="height:25px;"></td>
            <td style="width:100%; text-align:right; font-size:1.75em; font-weight:bold;">
                <span style="display:inline-block;">
                {% if total_duration %}
                    <span style="padding:.1em .2em; background-color:#eee;">{{ total_duration }}</span>
                {% else %}
                    <span style="padding:.1em;">&nbsp;</span>
                {% endif %}
                </span>
            </td>
        </tr>
    </table>
</form>
</div><!-- #timelogs-form -->
