{% extends "index.html" %}

{% block content %}
<script>
$(document).ready(function() {
    $('#id_date').attr('type', 'date');
    $('#id_duration').attr('step', '0.05');
});
</script>

    <h2>
        {% if timelog %}
            Edit timelog #{{ timelog.id }}
        {% else %}
            Add timelog
        {% endif %}
    </h2>
    <div style="margin:2em 1em 0;">
        <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="issue" value="{{ issue_id }}">
        <div>
            {{ timelog_form.user }}
            {{ timelog_form.date }}
            {{ timelog_form.duration }}
            <input type="submit" value="{% if timelog %}Update{% else %}Add{% endif %}">
        </div>
        </form>
    </div>
{% endblock content %}