        {% if timelogs_list %}
        <p style="width:100%; font-size:.8em; margin:-1.4em 0 .4em; padding:0 0 .3em .4em;">
            {% if request.META.QUERY_STRING %}
            <a href="?{{ request.META.QUERY_STRING }}&format=json">
            {% else %}
            <a href="?format=json">
            {% endif %}
                JSON
            </a>
        </p>
        {% endif %}
        <table class="timelogs-table">
            <tr style=" background-color:#cce8ff; line-height:1.5em;">
                <!--<th>id</th>-->
                <th>Issue</th>
                <th>User</th>
                <th>Date</th>
                <th>Duration</th>
                <th style="width:10%;">Action</th>
            </tr>
        {% for timelog in timelogs_list %}
            <tr onmouseover="this.style.backgroundColor='#eee';" onmouseout="this.style.backgroundColor='inherit';">
                <!--<td>{{ timelog.id }}</td>
                <td><a href="/timelogs/{{ timelog.id }}">{{ timelog.id }}</a></td>-->
                <td style="padding:.25em 0; width:40%;"><a href="/issues/{{ timelog.issue.id }}">{{ timelog.issue.subject }}</a></td>
                <td><a href="/users/{{ timelog.user.id }}">{{ timelog.user.username }}</a></td>
                <td style="text-align:center;">{{ timelog.date }}</td>
                <td style="text-align:center;">{{ timelog.duration }}</td>
                <td style="text-align:center;"><a href="/timelogs/{{ timelog.id }}/edit">Edit</a>&emsp;&emsp;<a href="/timelogs/{{ timelog.id }}/delete">Delete</a></td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="3">&nbsp;</td>
                <td style="text-align:center; background-color:#f1f1f1; font-weight:bold;">{{ total_duration }}</td>
                <td>&nbsp;</td>
            </tr>
        </table>
