{% extends "timelogs/index.html" %}
{%  block extra_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>
{% endblock extra_head %}

{% block timelogs_list %}
    <!-- Timelogs list -->
    <h2 style="margin-bottom:.5em;">
        Timelogs{% if project %} for project &quot;{{ project.name }}&quot;{% endif %}
    </h2>
    <div>
        {% include "timelogs/full_timelogs_form.html" %}
        {% if timelogs %}
            {% include "timelogs/timelogs_table.html" %}
        {% endif %}
    </div>

{% endblock timelogs_list %}