        {% if timelogs %}
        <div style="float:left; width:20%; font-size:.8em; margin:-.5em 0 0; padding:0 0 .8em .8em;   border:0px dotted green;">
            {% if request.META.QUERY_STRING %}
            <a href="?{{ request.META.QUERY_STRING }}&format=json">
            {% else %}
            <a href="?format=json">
            {% endif %}
                JSON</a>
            &ensp;
            {% if request.META.QUERY_STRING %}
            <a href="?{{ request.META.QUERY_STRING }}&format=csv">
            {% else %}
            <a href="?format=csv">
            {% endif %}
                CSV
            </a>
        </div>
        <!-- <div style="float:right; width:20%; text-align:right; font-size:.95em; margin:-.5em 0 0; padding:0 .5em .4em 0;   border:0px dotted green;">
            <b style="font-size:1.2em;">{{timelogs.paginator.count}}</b> timelogs
        </div> -->
        {% endif %}
        <table id="example" class="display">
            <thead>
            <tr style=" background-color:#cce8ff; line-height:1.5em;">
                <!-- <th style="width:2%;">id</th> -->
                <th style="width:45%;">Issue</th>
                <th style="width:20%;">User</th>
                <th style="width:15%;">Date</th>
                <th style="width:10%;">Duration</th>
                <th style="width:10%;">Action</th>
            </tr>
            </thead>

            <tbody>
        {% for timelog in timelogs %}
            <tr>
                <!-- <td style="text-align:right;">
                    <a href="/timelogs/{{ timelog.id }}/edit" style="text-decoration:none; font-size:.9em; color:inherit;" title="Edit timelog">{{ timelog.id }}</a>
                </td>-->
                <td><a href="/issues/{{ timelog.issue.id }}">{{ timelog.issue.subject }}</a></td>
                <td><a href="/users/{{ timelog.user.id }}">{{ timelog.user.get_full_name }}</a></td>
                <td>{{ timelog.date }}</td>
                <td>{{ timelog.duration }}</td>
                <td><a href="/timelogs/{{ timelog.id }}/edit">Edit</a>&emsp;&emsp;<a href="/timelogs/{{ timelog.id }}/delete" onclick="return confirm('Sure?');">Delete</a></td>
            </tr>
        {% endfor %}
            </tbody>

        </table>
        <script>
            $(function(){
                $("#example").dataTable();
            })
        </script>
        <!-- https://htmlhook.ru/rabota-s-jquery-datatables.html
	modified:   backend/taiga/index.html
	modified:   backend/taiga/index/templates/index/test.html
	modified:   backend/taiga/index/views.py
	modified:   backend/taiga/timelogs/templates/timelogs/timelogs_list.html
	modified:   backend/taiga/timelogs/templates/timelogs/timelogs_table.html
	modified:   backend/taiga/timelogs/views.py
         -->