<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
{% load static %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script type="text/javascript" src="{% static 'static/js/jquery-3.2.1.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'static/css/style.css' %}">
{% block extra_head %}{% endblock %}

<script type="text/javascript">
{% block javascript %}/*
window.onload = function() {
    if (document.referrer) {
        backhref = '<a href="javascript:history.back(-1)">Back</a>';
        document.getElementById("backlink").innerHTML = backhref;
    }
}
*/{% endblock javascript %}
</script>

</head>

<body>
<div id="main">

<div id="header">
<h1 style="margin:0 0 0em; padding:.2em; text-align:center; background-color:#cce8ff;">CT-Taiga</h1>
</div><!-- #header -->

<div id="content">
    <table style="width:100%; margin:0 auto; padding:.5em .2em 0; border:0px dotted grey; border-spacing:0; background-color:#fff; font-size:.95em;">
        <tr>
            <td id="backlink">
            </td>
            <td style="width:60%; text-align:center;">
                {% if request.META.PATH_INFO != '/projects/' %}<a href="/projects/">{% endif %}
                Projects{% if request.META.PATH_INFO != '/projects/' %}</a>{% endif %}
                &emsp;
                {% if request.META.PATH_INFO != '/issues/' %}<a href="/issues/">{% endif %}
                Issues{% if request.META.PATH_INFO != '/issues/' %}</a>{% endif %}
                &emsp;
                {% if request.META.PATH_INFO != '/users/' %}<a href="/users/">{% endif %}
                Users{% if request.META.PATH_INFO != '/users/' %}</a>{% endif %}
                &emsp;
                {% if request.META.PATH_INFO != '/timelogs/' or request.META.QUERY_STRING %}<a href="/timelogs/">{% endif %}
                Timelogs{% if request.META.PATH_INFO != '/timelogs/' %}</a>{% endif %}
            </td>
            <td style="text-align:right; padding-right:.55em;">
                {% if request.user.is_authenticated %}
                    {{ request.user.get_full_name }}&ensp;<a href="/logout/">Logout</a>
                {% else %}
                    <a href="/login/">Login</a>
                {% endif %}
            </td>
        </tr>
    </table>

    {% if messages %}
    {% include "messages.html" %}
    {% endif %}

    {% block content %}{% endblock %}
    {% block timelogs_index %}{% endblock %}
</div><!-- #content -->

<div id="footer">
    CT-Taiga
</div><!-- #footer -->
</div><!-- #main -->

</body>
</html>