{% extends "index.html" %}

{% block content %}
<h2>Login</h2>
{% if request.user.is_authenticated %}
<p style="margin:1em 0 0;">Authenticated as <b>{{ request.user.first_name }} {{ request.user.last_name }}</b></p>
<p><a href="/logout/">Logout</a></p>
{% else %}
<div>
{{ message }}
</div>
<div id="login-form">
<form method="post">
    {% csrf_token %}
    <table class="login-form">
        <tr>
            <td>Username: </td>
            <td><input type="text" name="username" autofocus></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align:right;"><button type="submit">Login</button></td>
        </tr>
    </table>
</form>
</div>
{% endif %}
{% endblock content %}