<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style type=text/css>
        .user-to-member-field {
            font-size:.9em;
            display:inline-block;
            margin-right:1em;
            color:#369;
            border-bottom:1px dotted #369;
            padding:0;
            cursor:pointer;
        }
        #remove-member {
            color:#555;
            font-family:Sans;
            font-size:.9em;
            cursor:pointer;
        }
        #roles-list {
            display:none;
        }
    </style>
</head>
<body>

<script type=text/javascript>

$(document).ready(function() {
    var oTable = $('.datatable').dataTable({
        // ...
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'order_list_json' %}"
    });
    // ...
});
</script>

<h2>Datatable test</h2>

<div class="datatable">
    {{  }}
</div>

<h3>{% if text %}{{ text }}{% endif %}</h3>
<h3>{% if member %}{{ member }}{% endif %}</h3>

</body>
</html>