{% extends "index.html" %}

{% block content %}
    <!-- Project details -->
    <h2>{% if issue.id %}
        Edit issue &#35;{{ issue.id }}
        {% else %}
        Add issue to project &laquo;{{ project.name }}&raquo;
        {% endif %}

        {% if not editing %}
        <span style="display:inline-block; float:right; text-align:right; font-size:.65em; font-weight:normal; line-height:1.7em;">
            <a href="edit">Edit issue</a>
        </span>
        {% endif %}
    </h2>

    <div id="edit-issue-form">
        <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="project" value="{{ project.id }}">
        <table>
            <tr>
                <td>Subject:</td>
                <td>{{ issue_form.subject }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ issue_form.description }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ issue_form.status }}</td>
            </tr>

            <tr>
                <td>Assegnee:</td>
                <td>
                    {{ issue_form.assigned_to }}
                </td>
            </tr>

            <tr>
                <td></td>
                <td style="text-align:center;"><input type="submit" value="Save" style="width:5em;"></td>
            </tr>

<!-- Test -->
{% if test %}
<tr>
    <td style="font-size:.9em; text-align:right;">
        Test:&ensp;
    </td>
    <td>
        {{ test }}
    </td>
</tr>
{% endif %}
<!-- END Test -->

        </table>
        </form>
    </div>

{% endblock content %}
