{% extends "index.html" %}

{% block content %}
    <!-- Issues list -->
    <h2>
        Issues
        {% comment %}
        <span id="right-top-label">
            <a href="/issues/add/" title="Add an issue" style="text-decoration:none; color:#262;">
                <span style="display:inline-block; padding-bottom:0; line-height:1em; border-bottom:1px dotted #262;">Add</span>
            </a>
        </span>
        {% endcomment %}
    </h2>
    <div>
        {% for issue in issues_list %}
        <div style="margin:1.5em .75em;">
            {{ issue.id }}.
            <a href="{{ issue.id }}" title="Issue details"><b>{{ issue.subject }}</b></a>
            <p style="margin:.2em; line-height:1.2em; font-size:.95em;">{{ issue.description }}</p>
            <p style="margin:.2em; line-height:1.2em;"><b>Project:</b> <a href="/projects/{{ issue.project.id }}/">{{ issue.project.name }}</a></p>
            <p style="margin:.2em; line-height:1.2em;"><b>Created date:</b> {{ issue.created_date|date:"F d, Y" }}</p>
            <p style="margin:.2em; line-height:1.2em;"><b>Status:</b> {{ issue.get_status_display }}</p>
        </div>
        {% endfor %}
    </div>

{% endblock content %}