{% extends "issues/index.html" %}

{% block issue_details %}
    <!-- Issue details -->
    <h2 style="font-weight:normal;">Issue &quot;{{ issue_details.subject }}&quot;</h2>
    <h3>Assigned to: <a href="/users/{{ issue_details.assigned_to.id }}">{{ issue_details.assigned_to.username  }}</a></h3>
    <div>
        <p>{{ issue_details.description }}</p>
    </div>

    <h3 style="background-color: #beb; padding:.25em;">View timelog</h3>

    <h3 style="background-color: #beb; padding:.25em;">Add timelog</h3>



{% endblock %}