{% extends "index.html" %}

{% block javascript %}
{{ block.super }}
<!-- Javascript -->
<script type=text/javascript>

// check either value in array
function in_arr(val, arr) {
    for (var i=0; i<arr.length; i++) {
        if (arr[i] == val) {
            return true;
        }
    }
    return false;
}

// display html view of users list
function displayUsersList(users, members) {
    var usersHTML = '';
    for (user_id in users) {
        if (in_arr(user_id, members)) {
            continue
        }
        usersHTML += '<span class="user-to-member-field" user_id="' + user_id +'">' + users[user_id] + '</span>';
    }
    $('#users-to-member').html(usersHTML);
}


function getUserID(node) {
    return $(node).attr('user_id')
}

function getMemberID(node) {
    return $(node).attr('member_id')
}


$(document).ready(function() {
    var member_field = $('#member-search-field');

    // roles
    var roles ={}
    {% for role in roles %}
    roles['{{ role.id }}'] = '{{ role.name }}';
    {% endfor %}


    // members empty for new project
    var members = [];
    {% for member in members %}
    members.push({{ member.user.id }});
    {% endfor %}


    // members & roles
    var members_roles = {}
    for (var member in members) {
        members_roles[members[member]] = [];
        {% for member, member_roles in members_roles.items %}
            if (members[member] == {{ member.user.id }}) {
                members_roles[members[member]].push({{ member_roles }});
            }
        {% endfor %}
    }
    alert(members_roles[5]);


    // all users
    var users = {};
    {% for user in users %}
    users['{{ user.id }}'] = '{{ user.get_full_name }}';
    {% endfor %}


    function showHideAddMemberLabel() {
        $('#add-member-label').fadeToggle(10);
    }


    function putUserToField(userID) {
        // check either user name in input field and remove it if there is
        memberID = getMemberID(member_field)
        if (memberID) {
            removeUserFromField(memberID);
        }

        // push user id to members list
        members.push(userID);

        // pass user id to hidden field
        member_field.attr('member_id', userID);

        // pass user name to input field
        member_field.val(users[userID]);

        // hide the user from users list
        $('[user_id=' + userID + ']').hide();

        // show roles checkboxes and '[x]' sign
        $('#roles-list').fadeToggle('fast');

        // show '+Add' label
        showHideAddMemberLabel();
    }

    function removeUserFromField(userID) {
        // pop user id from members list
        index = members.indexOf(userID);
        members.splice(index, 1);

        // clear input field
        member_field.val('');

        // clear user id in hidden field
        member_field.attr('member_id', '');

        // clear checkboxes
        $('[name=role]').prop('checked', false);

        // hide checkboxes and '[x]' sign
        $('#roles-list').hide();

        // show user in users list
        $('[user_id=' + userID + ']').fadeToggle('fast');

        // hide '+Add' label
        showHideAddMemberLabel();
    }

    // display users list
    displayUsersList(users, members);

    // get nodes list with users
    var user = $('.user-to-member-field');

    // Put user to input field by click on user name
    $(user).click(function(){
        // get user id
        user_id = getUserID(this);
        putUserToField(user_id);

    });

    // Remove user from input filed by click on '[x]' sign
    $('#remove-member').click(function(){
        // get user id
        user_id = getMemberID(member_field);
        removeUserFromField(user_id);
    });


    // Click on '+Add' label
    $('#add-member-label').click(function() {

    });
});

</script>
<!-- end Javascript -->
{% endblock javascript %}

{% block content %}
    <!-- Project details -->
    <h2>
        Edit project &#35;{{ project.id }}
        {% if not editing %}
        <span style="display:inline-block; float:right; text-align:right; font-size:.65em; font-weight:normal; line-height:1.7em;">
            <a href="edit">Edit project</a>
        </span>
        {% endif %}
    </h2>

    <div id="edit-project-form">
        <form action="{{ request.META.PATH_INFO }}" method="post">
        <table>
            <tr>
                <td><label for="id_name">Name:</label></td>
                <td><input id="id_name" maxlength="128" name="name" type="text" value="{{ project.name }}" required /></td>
            </tr>
            <tr>
                <td><label for="id_description">Description:</label></td>
                <td><textarea cols="40" id="id_description" maxlength="1024" name="description" rows="10" required>{{ project.description }}</textarea></td>
            </tr>
            <tr>
                <td><label for="id_owner">Owner:</label></td>
                <td><select id="id_owner" name="owner">
                    <option value=""> ------- </option>
                    {% for user in users %}
                    <option value="{{ user.id }}" {% if user.id == project.owner_id %}selected="selected"{% endif %}>{{ user.get_full_name }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
<!-- Members block -->
            <tr>
                <td>Members:</td>
                <td>
                    <table>
                        {% for member, member_roles in members_roles.items %}
                        <tr>
                            <td>{{ member.user.get_full_name }}</td>
                            <td>
                                {% for role in roles %}
                                <label><input type="checkbox" name="member" value="{{ role.id }}" {% for member_role in member_roles %}{% if member_role == role.id  %} checked="checked"{% endif %}{% endfor %}>&nbsp;{{ role.name }}</label>&ensp;
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                    </table>
                </td>
            </tr>
<!-- END Members block -->
<!-- Add member block -->
            <tr>
                <td style="width:10%;">Add&nbsp;member:</td>
                <td style="line-height:1.5em;">
                    <input type="text" id="member-search-field" name="member">&nbsp;
                    <span id="roles-list">
                        {% for role in roles %}
                        <label><input type="checkbox" name="role" value="{{ role.id }}">{{ role.name }}</label>
                        {% endfor %}
                        &ensp;<span id="add-member" style="font-size:1.2em; color:#282; cursor:pointer;" title="Add to members">&#9745;</span>&nbsp; <span id="remove-member" style="font-size:1.2em; color:#822; cursor:pointer;" title="Remove">&#9746;</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <span id="add-member-label" style="display:none; color:#262;">&plus;<span style="font-size:.95em; font-weight:bold; padding:0; border-bottom:1px dotted #262; cursor:pointer;" title="Add a member">New</span></span>
                </td>
                <td id="users-to-member">
                </td>
            </tr>
<!-- END Add member block -->

            <tr>
                <td></td>
                <td style="text-align:center;"><input type="submit" value="Save" style="width:5em;"></td>
            </tr>

<!--
            {% with issue_change_perm='issues.change_issue' %}
            <tr>
                <td colspan="2">{% if user.is_authenticated %} User has ISSUE CHANGE permissions: {{ user_perms|unordered_list }} {% else %} NOT {{ user_perms }} {% endif %}</td>
            </tr>
            {% endwith %}
-->
        </table>
        </form>
    </div>



{% endblock content %}
