    <!-- Projects list -->

    <table id="example" class="display">
    <thead>
        <tr style="background-color:#f5f8ff;">
            <th style="width:25%">Name</th>
            <th style="width:50%">Description</th>
            <th style="width:15%">Created date</th>
        </tr>
    </thead>
    <tbody style="font-size:.95em;">
        {% for project in projects_list %}
        <tr>
            <td><a href="{{ project.id }}" title="Issue details">{{ project.name }}</a></td>
            <td>{{ project.description }}</td>
            <td>{{ project.created_date|date:"F d, Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <script>
        $(function(){
            $("#example").dataTable({
                // initital number of records on the page
                "pageLength": 10,
                // default sorting by date
                "order":[ 2, 'asc' ],
            });
        })
    </script>
