{% extends "index.html" %}

{% block content %}
    <!-- Project details -->
    <h2 style="font-weight:normal;">Project &quot;{{ project_details.name }}&quot;</h3>
    <div>
        <p style="line-height:1.3em;">{{ project_details.description }}</p>
    </div>

    {% if not timelogs_list %}
    {% include "projects/project_details_html.html" %}

    <!-- Add issue form -->
    <h3 style="font-weight:normal; background-color:#beb; padding:.25em;">Add an issue</h3>
    {% include "projects/add_issue_form.html" %}
    {% endif %}

    <!-- Select timelogs form -->
    <h3 style="font-weight:normal; background-color:#beb; padding:.25em;">Timelogs</h3>
    {% include "timelogs/full_timelogs_form.html" %}

    {% if timelogs_list %}
    {% include "timelogs/timelogs_table.html" %}
    {% endif %}

{% endblock content %}
