{% extends "index.html" %}

{%  block extra_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>
{% endblock extra_head %}

{% block content %}
    <h2>
        Projects
        {% if perms.projects.add_project %}
        <span id="right-top-label">
            <a href="/projects/add/" title="Add a project" style="text-decoration:none; color:#262;">
                <span style="display:inline-block; padding-bottom:0; line-height:1em; border-bottom:1px dotted #262;">Add</span>
            </a>
        </span>
        {% endif %}
    </h2>

    {% include "projects/projects_list_html.html" %}
{% endblock content %}